<a href="https://colab.research.google.com/github/marioexposito/Programacio/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

El pandas serveix per treballar amb dades, i tenim tres tipus de estructura.
-Sèries: Estructures d'una dimensió que porten el seu index associat a les segones.
-Data frames: Estructures de dues dimensions.
-Panells: Estructures de tres dimensions.

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
!apt-get install python3.12

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
python3.12 is already the newest version (3.12.7-1+jammy1).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.

In [ ]:
import pandas as pd
setmana = pd.Series(["Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte", "Diumenge"])
print(setmana)

0      Dilluns
1      Dimarts
2     Dimecres
3       Dijous
4    Divendres
5     Dissabte
6     Diumenge
dtype: object

12,58,63,47,81,35

In [ ]:
import pandas as pd
numeros = pd.Series([12, 58, 63, 47, 81, 35])
print(numeros)

0    12
1    58
2    63
3    47
4    81
5    35
dtype: int64

Mira la allargada de la sèrie size

In [ ]:
llargada=numeros.size
print(llargada)

6

Suma tots el valors numèrics amb la funció sum. Cal que la suma digui "l'import total és X".

In [ ]:
suma=numeros.sum()
print("L'import total de la suma és", suma,".")

L'import total de la suma és 296 .

In [ ]:
màxim=numeros.max()
print(màxim)

81

In [ ]:
mínim=numeros.min()
print(mínim)

12

In [ ]:
media=numeros.mean()
print(media)

49.333333333333336

In [ ]:
suma=numeros.cumsum()
print(suma)

0     12
1     70
2    133
3    180
4    261
5    296
dtype: int64

In [ ]:
numeros.value_counts()

12    1
58    1
63    1
47    1
81    1
35    1
Name: count, dtype: int64

In [ ]:
import pandas as pd
llistat = pd.DataFrame({
    "Noms": ["Pedro", "Sonia", "Luis", "Marta", "Julian", "Nerea"],
    "Edat": [25, 52, 19, 33, 48, 61],
    "Altura": [1.68, 1.74, 1.81, 1.59, 1.71, 1.78]
},
    index = [0, 1, 2, 3, 4, 5]
)

print(llistat)

     Noms  Edat  Altura
0   Pedro    25    1.68
1   Sonia    52    1.74
2    Luis    19    1.81
3   Marta    33    1.59
4  Julian    48    1.71
5   Nerea    61    1.78

In [ ]:
import pandas as pd
clase = pd.DataFrame([{"Nom":"Pedro","Edat":25,"Altura":1.68},
                      {"Nom":"Sonia","Edat":52,"Altura":1.74},
                      {"Nom":"Luis","Edat":19,"Altura":1.81},
                      {"Nom":"Marta","Edat":33,"Altura":1.59},
                      {"Nom":"Julian","Edat":48,"Altura":1.71},
                      {"Nom":"Nerea","Edat":61,"Altura":1.78},
                      ])
print(clase)

      Nom  Edat  Altura
0   Pedro    25    1.68
1   Sonia    52    1.74
2    Luis    19    1.81
3   Marta    33    1.59
4  Julian    48    1.71
5   Nerea    61    1.78

In [ ]:
import pandas as pd
altura = pd.Series([1.68, 1.74, 1.81, 1.59, 1.71, 1.78])
minim=altura.min()
print(minim)
maxim=altura.max()
print(maxim)
mitjana=altura.mean()
print(mitjana)
x=mitjana.round(2)
print(x)

1.59
1.81
1.7183333333333335
1.72

In [ ]:
clase = pd.DataFrame([{"Nom":"Pedro","Edat":25,"Altura":1.68},
                      {"Nom":"Sonia","Edat":52,"Altura":1.74},
                      {"Nom":"Luis","Edat":19,"Altura":1.81},
                      {"Nom":"Marta","Edat":33,"Altura":1.59},
                      {"Nom":"Julian","Edat":48,"Altura":1.71},
                      {"Nom":"Nerea","Edat":61,"Altura":1.78},
                      ])
clase["Institut"]="MVM"
clase=["Edat 2"]= "Edat"+2

print(clase)

SyntaxError: cannot assign to literal (<ipython-input-15-32ba6d9d611c>, line 9)