<a href="https://colab.research.google.com/github/marioexposito/Programacio/blob/main/Proves1_ME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Un fabricant ven 48 cuines a 93 € una. Cobra 37 euros pel transport. Quant haurà cobrat en total?

In [ ]:
diners_cuines=93
diners_transport=diners_cuines+37
total=diners_transport*48
print(total)

6240

2. En una guardiola hi ha 120 euros; en una altra hi ha 215 i en una tercera 163. Si repartim els
euros entre 6 persones, quants en toquen a cada una?

In [ ]:
guardiola_1=120
guardiola_2=215
guardiola_3=163
guardioles=(guardiola_1+guardiola_2+guardiola_3)
total=(guardioles/6)
print(total)

83.0

3. Una castanyera tenia 250 castanyes torrades. Si en ven 17 dotzenes i a més treu 9 castanyes
cremades, quantes li'n queden per vendre?

In [ ]:
castanyes=250
venudes=(castanyes-17*12)
total=(venudes-9)
print(total)

37

In [ ]:
print("Hola_món")

Hola món

In [ ]:
x="Hola món"
print(x)

Hola món

Escriu un programa que pregunti el nom de l'usuari, i després quan l'usuari introduexi en nom a la resposta s'ens a d'imprimir una resposta que ens digui "hola" i la resposta de el que havíem fet.

In [ ]:
usuari=input("com et dius?")
print(usuari)
print("Benvingut "+usuari+"!")

com et dius?Didac
Didac
Benvingut Didac!

Una botiga de joguines

In [ ]:
nines=75
pallassos=112
input1=int(input("nº de pallassos venuts"))
input2=int(input("nº de nines venudes?"))
pes=input2*75+input1*112
print("El pes del paquet es de", pes)

nº de pallassos venuts5
nº de nines venudes?4
El pes del paquet es de 860

Fer un programa que pregunti a un usuari les hores que treballa i el preu per hora.

pregunta a la variable mitjançant el type quin tipus de funció és? un cop li he prguntat si la resposta és un número sencer cal que el programa us digui "escriu el nombre no sencer/decimal sino caldra que imprimeixi el valor de nines"

In [ ]:
llibres = float(input("Quants llibres compres?"))
punts_de_llibre = float(input("Quants punts de llibre compres?"))
portallibres = float(input("Quants portallibres compres?"))
preu = ((llibres*5) + (punts_de_llibre*1.5) + (portallibres*10))
if (preu%2==0):
  print("Cal que el valor sigui float")
else:
  print("El preu final serà", preu)

Quants llibres compres?7
Quants punts de llibre compres?11
Quants portallibres compres?13
El preu final serà 181.5

Calcula la superficie d'un cuadrat coneixent un dels seus costats.

In [ ]:
costat=int(input("Quant mesura un costat?"))
superfície=costat*costat
print("La superfície és",superfície, "m^2")

Quant mesura un costat?5
La superfície és 25 m^2

Realitzar la suma del perimetre d'un cuadrat.

In [ ]:
costat=int(input("Quant mesura un costat?"))
perímetre=costat*4
print("El perímetre és", perímetre,"m")

Quant mesura un costat?5
El perímetre és 20 m

Inventa 4 variables i fes la suma. El producte dels dos primers i el producte dels dos segons i fem la suma.

In [ ]:
Barcelona=21
Madrid=18
Villareal=17
Atlètic=16
suma1=Barcelona + Madrid + Villareal + Atlètic
suma2=(Barcelona*Madrid) + (Villareal*Atlètic)
print("La primera suma és", suma1)
print("La segona suma és", suma2)

La primera suma és 72
La segona suma és 650

Fes una mitjana entre 4 variables

In [ ]:
A=int(input("Valor de A?"))
B=int(input("Valor de B?"))
C=int(input("Valor de C?"))
D=int(input("Valor de D?"))
suma=A+B+C+D
mitjana=int(suma/4)
print("La mitjana és",mitjana)

Valor de A?4
Valor de B?7
Valor de C?3
Valor de D?9
La mitjana és 5

In [ ]:
numeros6=range(16,44,5)
list(numeros6)

[16, 21, 26, 31, 36, 41]